---
- hosts: all
  sudo: true
  roles:
#    - { role: swap, when: enable_swap == true }
#    - apache
#    - mysql
#    - php
#    - nodejs
#    - php_tools
#    - documentation_tools
#    - { role: wordpress, when: install_wordpress == true }
    - { role: drupal, when: install_drupal == true }
